<h1>Editing expensive item</h1>

<%= render "form", expensive_item: @expensive_item %>

<br>

<div>
  <%= link_to "Show this expensive item", @expensive_item %> |
  <%= link_to "Back to expensive items", expensive_items_path %>
</div>
