<p style="color: green"><%= notice %></p>

<h1>Expensive items</h1>

<!--<div id="expensive_items">-->
  <%# @expensive_items.each do |expensive_item| %>
    <%#= render expensive_item %>
<!--    <p>-->
      <%#= link_to "Show this expensive item", expensive_item %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New expensive item", new_expensive_item_path %>
