
<div class="d-flex justify-content-center w-100 mt-5 mb-5">
  <div class="d-block text-center">
    <% if user_signed_in? %>
      <h1>Ciao <%= current_user.username %>!</h1>
    <% end %>
    <h1>Benvenuto nel sito della parrocchia di Tellaro!</h1>
  </div>
</div>

