/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.color-red {
    color: red !important;
}

.color-black {
    color: black !important;
}

.color-green {
    color: green !important;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: #4FA845;
}

.text-underline {
    text-decoration: underline;
}

.color-box {
    width : 35px;
    height: 35px
}

.selected-color-box {
    border: 2px deepskyblue solid;
}

.not-selected-color-box {
    border: 1px black solid;
}

.cursor-pointer {
    cursor: pointer;
}

.b-right-solid {
    border-right: black 1px solid !important;
}

.b-left-solid {
    border-left: black 1px solid !important;
}

.b-top-solid {
    border-top: black 1px solid !important;
}

.b-bottom-solid {
    border-bottom: black 1px solid !important;
}

.b-solid {
    border: black 1px solid !important;
}

.b-top-bottom-transparent {
    border-top: none !important;
    border-bottom: none !important;
}

.b-bottom-transparent {
    border-top: transparent 0;
}
